.articles{
    background-color: $VeryLightGray;
    padding: 4em 0 0 0 ;
}


/* Small devices (portrait tablets and large phones, 570px and up) */
@media only screen and (min-width: 570px) {
    .articles{
        padding-bottom: 1.5em;
    }
    .articles__wrapper{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .wrapper__column{
            display: flex;
            justify-content: space-between;
        }
    }
}

/* Medium devices (landscape tablets, 767px and up) */
@media only screen and (min-width: 767px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .articles__header{
        display: flex;
        padding-bottom: 1em;
    }
    .articles__wrapper{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        .wrapper__column{
            display: flex;
            justify-content: space-between;
        }
        .wrapper__column+.wrapper__column{
            margin-left: 1.2em;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}