.hero{
    background-color: $VeryLightGray;
    padding-bottom: 5em; 
    height: 100%;
    .hero__wrapper{
        text-align: center;
        
        .hero__content{
            

            .content__wrapper {
                position: relative;
                top: -8em;
                margin-bottom: -8em;
            }
            .content__button{
                
                margin-top: 2em;
            }
            
        }
    }
}




/* Small devices (portrait tablets and large phones, 570px and up) */
@media only screen and (min-width: 570px) {
    
}

/* Medium devices (landscape tablets, 767px and up) */
@media only screen and (min-width: 767px) {
    .hero{
        
        padding-bottom: 10em;
        
        /* container properties */
        .hero__wrapper{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            //container properties
            width: 90.5%;
            margin: 0 auto;
            max-width: 67.75em;
            //
            margin-bottom: -6em;
            
            .hero__content{
                //
                padding: 10em 0 0em 0;
                
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 0;
                width: 45%;
                .content__button{
                    text-align: left;
                    margin-top: 2em;
                }
                .content__wrapper .paragraph{
                    text-align: left;
                }
            }
            .hero__img{
                margin-top: 10em;
                width: 48%;
            }
            
        }
    }
    
}
/* 570px and up */
@media only screen and (min-width: 935px) {
    .hero{
        
        .hero__wrapper{
            margin-bottom: -10em;
            width: 90.5%;
        margin: 0 auto;
        max-width: 67.75em;
        }
    }
}



/* Large devices (laptops/desktops, 1022px and up) */
@media only screen and (min-width: 1022px) {
    .hero{
        height: auto;
        padding-bottom:3em;
        
        /* container properties */
        
        
        .hero__wrapper{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            //container properties
            
            //
            margin-bottom: -12em;
            .hero__content{
                
                // 
                padding: 10em 0 0em 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 45%;
            }
            .hero__img{
                margin-top: 4em;
                padding-bottom: 3.7em;
                width: 48%;
            }
            
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}