.subheader{
    font-size: 2rem;
    font-family: $Public-Sans;
    font-weight: 200;
    text-align: center;
    color: $DarkBlue;
}

/* Small devices (portrait tablets and large phones, 570px and up) */
@media only screen and (min-width: 570px) {

}

/* Medium devices (landscape tablets, 767px and up) */
@media only screen and (min-width: 767px) {
    .subheader{
        font-size: 2.38rem;
    }
}   

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}