.paragraph{
    color: $GrayishBlue;
    font-family: $Public-Sans;
    font-weight: 500;
    font-size: 0.93rem;
    
    line-height: 1.88em;
}

/* Small devices (portrait tablets and large phones, 570px and up) */
@media only screen and (min-width: 570px) {

}

/* Medium devices (landscape tablets, 767px and up) */
@media only screen and (min-width: 767px) {
    .paragraph{
        font-size: 1.12rem;
        line-height: 1.5em;
        text-align: center;
    }
}

/* Medium devices (landscape tablets, 767px and up) */
@media only screen and (min-width: 767px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .paragraph{
        font-size: 1.12rem;
        line-height: 1.5em;
        text-align: left;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}