.nav{
    background-color: $white;
    
    position: sticky;
    font-family: $Public-Sans;
    z-index: 999;
}

.nav__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.65em 0;
    flex-wrap: wrap;
}

/* exit */
.nav__menu {
    display: flex;
    padding-top:1em;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    /* border: 1px solid $dark-grey; */
    position: absolute;
    border-radius: 8px;
    top: 5.2em;
    left: -145%;
    height: 18em;
    opacity: 1;
    transition: all 0.5s ease;
    width: 80%;
    padding-left: 0;
    .menu__items a{
        text-decoration: none;
        font-size: 1.15rem;
        color:$DarkBlue;
    }
    
}


/* enter */
.nav__menu.active {
    height: 18em;
    padding-top: 2em;
    padding-bottom: 2em;
    
    filter: opacity(120%);
    top: 5.2em;
    left: 7.5%;
    width: 85%;
    
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 3px 1px;
    background: rgba(255,255,255,0.84);
    backdrop-filter: blur(25px);    
    
}



.nav__button{
    cursor: pointer;
    background: linear-gradient(90deg,$LimeGreen, $BrightCyan);
    border-radius: 100px;
    color: $white;
    display: none;
    font-size: 1rem;
    font-weight: 500;
    .button__wrapper{
        padding: 0.8em 2.25em;
        
    }
}
.nav__button:hover{
    filter: opacity(75%);
}

.nav__hamburger{
    cursor: pointer;
    .hamburger__button{
        border: 0;
        display: inline-block;
        height: 40px;
        width: 40px;
        padding: 0.5rem;
        background-color: $white;
        margin: 3px 0;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        
    }
}


/* Small devices (portrait tablets and large phones, 570px and up) */
@media only screen and (min-width: 570px) {

}

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 900px) {
    .nav__wrapper{
        
        padding: 1.2em 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav__hamburger {
        display: none;
        .hamburger__button{
            display: none;
        }
    }
    .nav__menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        top: auto;
        left: auto;
        height: auto;
        position: static;
        width: auto;
        padding-top: 0;
        .menu__items{
            margin-left: 1.35rem;
            .menu__link{
                color: $GrayishBlue;
                font-size: 1rem;
                padding-bottom: 1.8em;
            }
            .menu__link:hover{
            
                border-bottom: 4.5px solid ;
                border-image: linear-gradient(90deg,$LimeGreen, $BrightCyan) 1;
            }
        }
    }
    .nav__menu.active {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        top: auto;
        left: auto;
        height: auto;
        position: static;
        width: auto;
        padding-top: 0;
        box-shadow: none;
        
    }
    
    .menu__items{
        display: table;
    }
    .nav__button{
        display: inline-block;
        
    }
    
    
    
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}



// navbar.css
@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 768px) {
    
    
}