/* colors */
/* primary */
/* neutral */
/* font */
.nav {
  background-color: #fff;
  position: sticky;
  font-family: "Public Sans", sans-serif;
  z-index: 999;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.65em 0;
  flex-wrap: wrap;
}

/* exit */
.nav__menu {
  display: flex;
  padding-top: 1em;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  /* border: 1px solid $dark-grey; */
  position: absolute;
  border-radius: 8px;
  top: 5.2em;
  left: -145%;
  height: 18em;
  opacity: 1;
  transition: all 0.5s ease;
  width: 80%;
  padding-left: 0;
}
.nav__menu .menu__items a {
  text-decoration: none;
  font-size: 1.15rem;
  color: hsl(233deg, 26%, 24%);
}

/* enter */
.nav__menu.active {
  height: 18em;
  padding-top: 2em;
  padding-bottom: 2em;
  filter: opacity(120%);
  top: 5.2em;
  left: 7.5%;
  width: 85%;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 3px 1px;
  background: rgb(255, 255, 255);
  backdrop-filter: blur(25px);
}

.nav__button {
  cursor: pointer;
  background: linear-gradient(90deg, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  border-radius: 100px;
  color: #fff;
  display: none;
  font-size: 1rem;
  font-weight: 500;
}
.nav__button .button__wrapper {
  padding: 0.8em 2.25em;
}

.nav__button:hover {
  filter: opacity(75%);
}

.nav__hamburger {
  cursor: pointer;
}
.nav__hamburger .hamburger__button {
  border: 0;
  display: inline-block;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  background-color: #fff;
  margin: 3px 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

/* Small devices (portrait tablets and large phones, 570px and up) */
/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 900px) {
  .nav__wrapper {
    padding: 1.2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__hamburger {
    display: none;
  }
  .nav__hamburger .hamburger__button {
    display: none;
  }
  .nav__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    top: auto;
    left: auto;
    height: auto;
    position: static;
    width: auto;
    padding-top: 0;
  }
  .nav__menu .menu__items {
    margin-left: 1.35rem;
  }
  .nav__menu .menu__items .menu__link {
    color: hsl(233deg, 8%, 62%);
    font-size: 1rem;
    padding-bottom: 1.8em;
  }
  .nav__menu .menu__items .menu__link:hover {
    border-bottom: 4.5px solid;
    border-image: linear-gradient(90deg, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%)) 1;
  }
  .nav__menu.active {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    top: auto;
    left: auto;
    height: auto;
    position: static;
    width: auto;
    padding-top: 0;
    box-shadow: none;
  }
  .menu__items {
    display: table;
  }
  .nav__button {
    display: inline-block;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.hero {
  background-color: hsl(0deg, 0%, 98%);
  padding-bottom: 5em;
}
.hero .hero__wrapper {
  text-align: center;
}

.content__button {
  margin-top: 2em;
}

.image--bg {
  background-image: url("../assets/images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-color: hsl(0deg, 0%, 98%);
  background-size: cover;
  height: 22em;
}
.image--bg .image--bg__wrapper {
  position: relative;
  top: -8.4em;
}

/* Small devices (portrait tablets and large phones, 570px and up) */
@media only screen and (min-width: 570px) {
  .image--bg {
    background-image: url("../assets/images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-color: hsl(0deg, 0%, 98%);
  }
  .image .image__wrapper {
    height: 13.5em;
    object-fit: cover;
  }
}
/* Medium devices (landscape tablets, 767px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .image .image__wrapper {
    height: 13.5em;
    object-fit: cover;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
.header {
  font-size: 2.5rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 200;
  text-align: center;
  color: hsl(233deg, 26%, 24%);
}

.content-section {
  background-color: hsl(220deg, 16%, 96%);
  padding-bottom: 3em;
}
.content-section .content-section__header {
  padding: 2.45em 0 0 0;
}
.content-section .content-section__paragraph {
  padding: 0.1em 0 0 0;
  text-align: center;
}
.content-section .content-section__icon {
  padding-top: 3em;
  width: 4.5em;
  margin: 0 auto;
}
.content-section .content-section__sub-paragraph {
  text-align: center;
}

/* Small devices (portrait tablets and large phones, 570px and up) */
/* Medium devices (landscape tablets, 767px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .content-section .content-section__header {
    display: flex;
    padding-top: 5em;
  }
  .content-section .content-section__paragraph {
    width: 62%;
    text-align: start;
    padding-bottom: 1.5em;
  }
  .content-section .content-section__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .content-section .info__wrapper {
    text-align: start;
  }
  .content-section .info__wrapper .content-section__icon {
    margin: 0;
    padding-bottom: 1em;
  }
  .content-section .info__wrapper .content-section__subsubheader {
    display: flex;
  }
  .content-section .info__wrapper .content-section__sub-paragraph {
    text-align: start;
    margin-bottom: 4em;
    width: 90%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
.paragraph {
  color: hsl(233deg, 8%, 62%);
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  font-size: 0.93rem;
  line-height: 1.88em;
}

/* Small devices (portrait tablets and large phones, 570px and up) */
/* Medium devices (landscape tablets, 767px and up) */
@media only screen and (min-width: 767px) {
  .paragraph {
    font-size: 1rem;
    line-height: 1.5em;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.button {
  cursor: pointer;
  display: inline-block;
  background: linear-gradient(90deg, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  border-radius: 100px;
  border: 0;
}
.button .button__wrapper {
  padding: 1em 2.25em;
  font-size: 0.9rem;
  color: #fff;
  font-family: "Public Sans", sans-serif;
}

.button:hover {
  filter: brightness(75%);
}

.subheader {
  font-size: 2rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 200;
  text-align: center;
  color: hsl(233deg, 26%, 24%);
}

/* Small devices (portrait tablets and large phones, 570px and up) */
/* Medium devices (landscape tablets, 767px and up) */
@media only screen and (min-width: 767px) {
  .subheader {
    font-size: 2.38rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.subsubheader {
  font-size: 1.35rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 200;
  text-align: center;
  color: hsl(233deg, 26%, 24%);
}

.articles {
  background-color: hsl(0deg, 0%, 98%);
  padding: 4em 0 0 0;
}

/* Small devices (portrait tablets and large phones, 570px and up) */
@media only screen and (min-width: 570px) {
  .articles {
    padding-bottom: 1.5em;
  }
  .articles__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .articles__wrapper .wrapper__column {
    display: flex;
    justify-content: space-between;
  }
}
/* Medium devices (landscape tablets, 767px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .articles__header {
    display: flex;
    padding-bottom: 1em;
  }
  .articles__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .articles__wrapper .wrapper__column {
    display: flex;
    justify-content: space-between;
  }
  .articles__wrapper .wrapper__column + .wrapper__column {
    margin-left: 1.2em;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
.card {
  background-color: #fff;
  margin-bottom: 2em;
}
.card .card__wrapper {
  border-radius: 10px;
  overflow: hidden;
}
.card .card__wrapper .card__content {
  padding: 1em 1.9em;
  font-family: "Public Sans", sans-serif;
}
.card .card__wrapper .card__content .card__author {
  color: hsl(233deg, 8%, 62%);
  font-size: 0.7rem;
}
.card .card__wrapper .card__content .card__header {
  color: hsl(233deg, 26%, 24%);
  font-size: 1.1rem;
  font-weight: 100;
}
.card .card__wrapper .card__content .card__text {
  color: hsl(233deg, 8%, 62%);
  font-size: 0.85rem;
}

/* Small devices (portrait tablets and large phones, 570px and up) */
@media only screen and (min-width: 570px) {
  .card {
    width: 48%;
  }
}
/* Medium devices (landscape tablets, 767px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card .card__wrapper {
    border-radius: 5px;
  }
  .card .card__wrapper .card__content {
    padding: 1em 1.3em 1em 1.3em;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
.footer {
  background-color: hsl(233deg, 26%, 24%);
}

.footer__wrapper .footer__img {
  padding: 2.25em 0 2.25em 0;
  width: 9.2em;
  margin: 0 auto;
}
.footer__wrapper .footer__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2.25em;
}
.footer__wrapper .footer__icons .icons__link + .icons__link {
  margin-left: 1em;
  width: 1.65em;
}
.footer__wrapper .footer__links {
  text-align: center;
}
.footer__wrapper .footer__links .links__routes a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 100;
}
.footer__wrapper .footer__links .links__routes {
  padding-bottom: 1.2em;
}
.footer__wrapper .footer__button {
  padding-top: 1.25em;
  text-align: center;
}
.footer__wrapper .footer__copyright p {
  font-family: "Public Sans", sans-serif;
  color: hsl(233deg, 8%, 62%);
  font-size: 0.9rem;
  padding: 2em 0 3.25em 0;
  text-align: center;
  margin: 0 auto;
}

/* Small devices (portrait tablets and large phones, 570px and up) */
/* Medium devices (landscape tablets, 767px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer__wrapper .footer__img {
    padding: 2.9em 0 3.5em 0;
    margin: 0;
  }
  .footer__wrapper .footer__icons .icons__link + .icons__link {
    margin-left: 0.75em;
    width: 1.4em;
  }
  .footer__wrapper .footer__column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 52%;
  }
  .footer__wrapper .footer__button {
    margin-top: 1.1em;
  }
  .footer__column--1 {
    display: flex;
    flex-direction: column;
  }
  .footer__column--2 {
    width: 50%;
    padding-top: 0.5em;
  }
  .footer__column--2 .footer__links {
    display: flex;
    justify-content: space-between;
  }
  .footer__column--2 .footer__links .links__routes {
    padding-bottom: 0.85em;
  }
  .footer__column--2 .footer__links .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__column--3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

img {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 84%;
  margin: 0 auto;
  max-width: 67.75em;
}

.row {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
}