.footer{ 
    background-color: $DarkBlue;
}
.footer__wrapper{
    .footer__img{
        padding: 2.25em 0 2.25em 0;
        width: 9.2em;   
        margin: 0 auto;
    }
    .footer__icons{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 2.25em;

        .icons__link+.icons__link{
            margin-left: 1em;
            width: 1.65em;
        }
    }
    .footer__links{
        text-align: center;
        .links__routes a{
            text-decoration: none;
            color: $white;
            font-size: 0.9rem;
            font-family: $Public-Sans;
            font-weight: 100;
        }
        .links__routes{
            padding-bottom: 1.2em;
        }
        
    }
    .footer__button{
        padding-top: 1.25em;
        text-align: center;
    }
    .footer__copyright p{
        font-family: $Public-Sans;
        color: $GrayishBlue;
        font-size: 0.9rem;
        padding: 2em 0 3.25em 0;
        text-align: center;
        margin: 0 auto;

    }
}

/* Small devices (portrait tablets and large phones, 570px and up) */
@media only screen and (min-width: 570px) {
    
}

/* Medium devices (landscape tablets, 767px and up) */
@media only screen and (min-width: 767px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 820px) {
    .footer__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .footer__img{
            padding: 2.9em 0 3.5em 0;
            
            margin: 0;
        }
        .footer__icons{
            .icons__link+.icons__link{
                margin-left: 0.75em;
                width: 1.4em;
            }
        }
        .footer__column{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 52%;
        }
        .footer__button{
            margin-top: 1.10em;
        }
    }
    .footer__column--1{
        display: flex;
        flex-direction: column;
       
    }
    .footer__column--2{
        width:50%;
        padding-top: 0.5em;
        .footer__links{
            display: flex;
            justify-content: space-between;
            .links__routes{
                padding-bottom: 0.85em;
            }
            .links{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
    .footer__column--3{
        display:flex;
        flex-direction: column;
        align-items: flex-end;

    }
    

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}