@import "./variables";
@import "./../components/Navigation/navigation";
@import "./../components/Hero/hero";
@import "./../components/image/image";
@import "./../components/header/header";
@import "./../components/contentsection/contentsection";
@import "./../components/paragraph/paragraph";
@import "./../components/button/button";
@import "./../components/icon/icon";
@import "./../components/SubHeader/subheader";
@import "./../components/SubSubHeader/subsubheader";
@import "./../components/articles/articles";
@import "./../components/card/card";
@import "./../components/footer/footer";

* {
    box-sizing: border-box;
    
}

body {
    margin: 0 auto;
    
}

img{
    width: 100%;
}
ul{
    margin: 0;
    padding: 0;
}

.container{
    width: 90.5%;
    margin: 0 auto;
    max-width: 67.75em;
}

.row{
    display:flex;
    align-content: center;
    justify-content: space-between;
    width: 100%;
}