.content-section{
    background-color:$LightGrayishBlue;
    padding-bottom: 3em;
    .content-section__header{
        padding: 2.45em 0 0 0;
    }
    .content-section__paragraph{
        padding: 0.1em 0 0 0;
    }
    .content-section__icon{
        padding-top: 3em;
        width: 4.5em;
        margin: 0 auto;
    }
    
}