.image--bg{
    background-image: url('../assets/images/bg-intro-mobile.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-color: $VeryLightGray;
    background-size: cover;
    position: relative;
    top: -10vh;
    
    .image--bg__wrapper{
        position: relative;
        top: -7.2vh;
    }
}




/* Small devices (portrait tablets and large phones, 570px and up) */
@media only screen and (min-width:570px){
    .image--bg{
        background-image: url('../assets/images/bg-intro-desktop.svg');
        background-repeat: no-repeat;
        background-position: top right;
        background-color: $VeryLightGray;
    }
    .image{
        .image__wrapper{
            
            height: 13.5em;
            object-fit: cover;
        }
        
    }
}
/* Medium devices (landscape tablets, 767px and up) */
@media only screen and (min-width: 767px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .image{
        .image__wrapper{
            
            height: 13.5em;
            object-fit: cover;
        }
        
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}